main {
  min-height: 80vh;
}

.headerBg {
  background-color: rgb(118, 170, 219);
}


.header-intro-resume{
  height: 320px;
}


.page-heading{
  font-weight: bold;
  font-size: 2rem;
}

.div{
  display: block;
}
.resumeWrapper{
  margin-top: -180px;
  padding-bottom: 100px;

}
.positionRelative{
    position: relative !important;
}

.resumeWrapperInner{
  max-width: 100px;
}

.bgWhite{
  background-color: #fff !important;
}
.shadowLg{
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
}

